<% titulo 'Mencion' %>

<div class="grid-row" >
  <div class="labels">Descripcion:</div> 
  <div class="values"><%= @mencion.descripcion %></div> 
</div>  
<div class="grid-row" >
   <div class="labels">Escuela:</div> 
   <div class="values"><%= @mencion.escuela.descripcion %></div> 
</div>  

<br />

<nav>
  <%= link_to mencions_path, { :class => 'btn-black', :style => "color:white;"} do %>
    <i class="icon-white icon-arrow-left"></i> Volver 
  <% end %>
  <%= link_to '/admin', { :class => 'btn-black', :style => "color:white"} do %>
    <i class="icon-white icon-book"></i> Ir a Admin 
  <% end %>
  <%= link_to edit_mencion_path(@mencion), { :class => 'btn-black', :style => "color:white"} do %>
    <i class="icon-white icon-edit"></i> Editar 
  <% end %>
</nav>
