<div style="margin-left:-70px">

<%= titulo 'Inicio de Sesi칩n' %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal", :style => ""  } ) do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :nombre, :placeholder => "Nombre", :autofocus => true, :autocomplete => 'off' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :contrase침a, :class => "control-label", :for => "inputPassword" %>
    <div class="controls">
      <%= f.password_field :password, :placeholder => "Contrase침a" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>
      <%= f.submit "Iniciar sesi칩n", :class => 'btn', :style => '' %><br/>
      <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>

</div>


