<%= form_for(@persona) do |f| %>

  <%= render :partial => 'shared/errores', :locals => { :modelo => @persona } %>

  <div class="control-group">
    <%= f.label :cedula, :style => "", :class => "control-label", :style => "width:20%" %>
    <div class="controls">
      <%= f.text_field :cedula, :style => "width:70%", :maxlength => 9  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :nombres, :style => "", :class => "control-label", :style => "width:20%" %>
    <div class="controls">
      <%= f.text_field :nombres, :style => "width:70%", :maxlength => 50  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :apellidos, :style => "", :class => "control-label", :style => "width:20%" %>
    <div class="controls">
      <%= f.text_field :apellidos, :style => "width:70%", :maxlength => 50  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :style => "", :class => "control-label", :style => "width:20%" %>
    <div class="controls">
      <%= f.email_field :email, :style => "width:70%", :maxlength => 50  %>
    </div>
  </div>

  <div class="control-group" style = "text-align:right; width:70%">
    <%= link_to personas_path, { :class => 'btn-black', :style => "color:white"} do %>
      <i class="icon-white icon-remove"></i> Cancelar 
    <% end %> 
    <%= f.submit 'Guardar', :class => 'btn btn-info', :style => "color:white; margin-left: 5px"  %>
  </div>

<% end %>
